.Modal-div{
    background-color: white;
    height: 400px;
    width: 180px;
    border:solid 1px gray;
    position: fixed;
    right: 10px ;
    z-index: 1;
    flex-wrap:wrap ;
    overflow: auto;
    padding: 7px;
    margin:10px;
}

.close-modal{
    background-color: indianred;
    color: white;
    padding: 13px;
    border: solid 1 px indianred;
    border-radius: 25px;
    height: 16px;
    display: flex;
    align-items: center;
    margin: 6px 6px;
    display: inline;
    border: none;
    outline: none;
    
}

.modal-container{
    margin: 20px;
    display: inline-block;
    flex-wrap: wrap;
    padding: 10px;
    border-bottom: solid 2px gray;
    width: 100px;
    
}
.modal-container img{
    object-fit: cover;
    width: inherit;
    height: 120px;
}