@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Sofia+Sans+Condensed:wght@100&display=swap');
.div-nav ul{
    display: flex;
    justify-content: space-around;
    height: 65px;
    list-style: none;
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-weight: bold;
    box-shadow: 1px 1px 5px black;
    margin: 10px 5px;
    align-items: center;
 }

 .div-nav h1{
   font-weight: bolder;
   box-shadow: 1px 5px 5px black;
   font-family: 'Oswald', sans-serif;
   color:b black;
   text-decoration: double;
 }

 .div-nav ul li{
   list-style: georgian;
   
 }

 .h1-div{
  height: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  
 }



