
.div-item{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    width: 25%;
    background-color: silver;
 
}

.div-item h1{
    font-size: 18px;
    display: block;
}

.img{
    object-fit: scale-down;
    width: 100px;
    height: 150px;
}