@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Oswald&family=Sofia+Sans+Condensed:wght@100&display=swap');
body{  
    font-family: 'Kanit', sans-serif;
}

.div-item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: black;
    width: 25%;
    margin: 30px;
    height: 250px;
    font-weight: bolder;
    border: none;
    border: solid 2px black;
    outline: 1px solid black;
    box-shadow: 1px 5px 5px black;
}

.div-item h1{
display: block;
}