.card-count{
    display: flex;
    flex-direction: row;
    background-color: thistle;
    width: 100%;
    justify-content: center;
}

.card-count p{
    position: relative;
    top: 20px;
}

.card-count button{
    padding: 10px;
    margin: 15px;
    border: none;
  
}