.card-count{
    width: 100%;
    color: black;
    height: 50px; 
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    padding: 10px;  
}

.card-count button{
    padding: 10px;
    border: none;
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: black;
    margin: 10px;
}

.card-count button:focus{
    color: black;
    background-color:white;
    
}
.card-count p{
    color:black;

}

