.card-count{
    width: 100%;
    background-color: inherit;
    color: black;
    height: 50px; 
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    border:none;
    border-bottom: solid 2px black;
    
}

.card-count button{
    padding: 10px;
}

.card-count p{
    position: relative;
    top: 7px;
    right: -45px;
}